body {
	background-color: white;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 95%; 
}
.clock1 {
	position: absolute;
    margin: auto;
    top: 95%;
    left: 65%;
    right: 75%;
    bottom: 50%;
    align: right;
    height: 100px;
    width: 100px;
}
.clock2{
	position: absolute;
    margin: auto;
    top: 95%;
    left: 30%;
    right: 75%;
    bottom: 50%;
    align: right;
    height: 100px;
    width: 100px;
}
.form-div{
	
}