.errorblock {
	color: #ff0000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
	width: 490px;
}

.successblock {
	color: green;
	background-color: #d9edf7;
	border: 3px solid green;
	padding: 8px;
	margin: 16px;
	width: 450px;
}

.row-centered {
	text-align: center;
}

.row-right {
	text-align: right;
}

body {
	background-image: url("http://i.imgur.com/gHE631x.jpg");
	background-color: #cccccc;
}

.col-centered {
	display: inline-block;
	float: none;
	text-align: left;
	margin-right: -4px;
}

.col-right {
	display: inline-block;
	float: none;
	text-align: right;
	margin-left
	=-4px;
}

.vertical-center-container {
	min-height: 100%;
	min-height: 100vh;
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	/*justify-content: center;*/
	flex-direction: column;
}